// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  @include helvetica;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: $base-font-size; // Don't modify static unit.
  font-smoothing: antialiased;
  line-height: $base-line-height;
}

body {
  // Disable in production mode;
  // @include show-breakpoints;
  text-size-adjust: none;
  background-color: $gray-f8;
}


.site-footer {
  background-image: linear-gradient(to bottom,$blue_dark 0,$blue_light 100%);
  color: $gray-e3;
  font-size: 12px;
  font-weight: bold;
  padding: 30px 0 20px;

  a {
    color: $gray-e3;
  }

  &__top {
    .region {
      padding: 0 20px 20px;
      position: relative;

      @include susy-media(tablet) {
        float: left;
        width: 25%;
      }

      &:before {
        @include susy-media(tablet) {
          position: absolute;
          background: url('../images/footer-list-splitter.png') no-repeat scroll 0 0 transparent;
          width: 1px;
          height: 160px;
          top: 0;
          right: 0;
          content: '';
        }
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }

    ul {
      margin: 0;

      li {
        font-weight: bold;

        a {
          &:hover {
            color: $white;
          }

          &.is-active {
            color: $gray-e3;
          }
        }
      }
    }

    h2 {
      font-size: 18px;
      opacity: .6;
    }

    h6 {
      font-size: 12px;
    }
  }

  &__bottom {
    padding: 0 20px;

    .field--name-field-text {
      float: left;
    }

    .field--name-body  {
      float: left;
      margin-left: 30px;

      p {
        margin-bottom: 0;
      }
    }
  }

  .container {
    background: url('../images/footer-bubbles.png') no-repeat scroll bottom right transparent;
  }
}

.menu--footer {
  @extend %clearfix;
  margin-bottom: 15px;

  ul {
    margin: 0;

    li {
      border-right: 2px solid $gray-e3;
      float: left;
      line-height: 1;
      margin-right: 15px;
      padding-right: 15px;

      &:last-child {
        border: none;
        padding-right: 0;
        margin-right: 0;
      }

      a {
        color: $gray-e3;

        &:hover {
          color: $white;
        }

        &.is-active {
          color: $gray-e3;
        }
      }
    }
  }
}

.region-footer-fifth {
  @extend %clearfix;
}

.region-header-wrapper {
  background-image: linear-gradient(to bottom,$blue_dark 0,$blue 100%);

  a {
    color: $gray-e3;
  }
}

.primary-menu {
  background: $gray-f9;
}

.region-content-top {
  @extend %clearfix;
  padding: 40px 20px 0;

  .block-facets {
    margin-bottom: 20px;

    @include susy-media(tablet) {
      width: 33.33%;
      float: left;
      margin-bottom: 0;
    }

    @include susy-media(desktop) {
      width: 25%;
    }

    h2 {
      font-size: 18px;
      margin-bottom: 14px;
      color: $blue-02;

      @include susy-media(tablet) {
        margin-bottom: 20px;
      }
    }
  }
}

.facet-item {
  @extend %clearfix;
  margin-bottom: 10px;

  input {
    float: left;
    margin-right: 10px;
  }

  label {
    font-size: 16px;
    line-height: 1;
    color: #032b5a;
    cursor: pointer;
    font-weight: normal;

    &:hover {
      color: $blue;
    }
  }
}

.footer {

}