// INDEX
// Please define all styles for the index page in this file.
// For each new page template added to /templates/pages/*.twig,
// please add a corresponding file in /assets/scss/pages/*.scss.

.welcome-paragraph {
  padding: rem(40px 0);
}

.techical-full {
  .row {
    display: flex;
    justify-content: space-between;

    .col-sm-6 {
      width: calc((100% - 30px) / 2);
    }
  }

  .specificationheader {
    background-color: #3a97cd;
    border-color: #3a97cd;
    color: #fff;
    z-index: 2;
  }
}