<div class="block-grid-product">
    <a class="block-grid-product__link" href="#" >
      <div class="block-grid-product__status">
        <span>NEW</span>
      </div>
      <div class="block-grid-product__content-top">
        <img src="https://staticshop.o2.co.uk/product/images/huawei_p10_graphite_black_list_standard.png?cb=abe81379c440316230dcf7d897412b7f">
        <div class="block-grid-product__rating">
            <div class="device-rating">
                <div itemprop="aggregateRating">
                    <div class="star-rating" >★★★★★
                        <div class="star-rating__stars">★★★★★</div>
                    </div>
                </div>
            </div>
            <div class="colours">
                <span class="swatch"></span>
                <span class="swatch"></span>
                <span class="swatch"></span>
            </div>
        </div>
        <p class="block-grid-product__title"><span class="ng-binding">Huawei</span> <span class="ng-binding">P10</span></p>
        <div class="block-grid-product__ribbon"><p class="block-grid-product__ribbon__text">Now in PRODUCT(RED).</p></div>
      </div>
      <div class="block-grid-product__content-bottom">
        <p class="costs">From
        <span class="headline">£41<span class="pence ng-binding">.00</span></span> a month + £9.99 upfront</p>
      </div>
      <span class="hover-down"></span>
    </a>
    <div class="block-grid-product__compare">
      <label>
        <span class=""><span class="plus"></span></span>
        <input type="checkbox" class="tile-checkbox">
        <span class="compare-text">Compare<span></span></span>
      </label>
    </div>
</div>


<div class="grid--3column">
  <div class="grid__item">
    <div class="product product--teaser">
      <a href="#">
        <div class="product__status">
          <span>NEW</span>
        </div>
        <div class="product__content-top">
          <img src="https://staticshop.o2.co.uk/product/images/huawei_p10_graphite_black_list_standard.png?cb=abe81379c440316230dcf7d897412b7f">
          <div class="product__rating">
            <div class="star-rating" >★★★★★
              <div class="star-rating__stars">★★★★★</div>
            </div>
            <div class="product__color">
                <span class="swatch"></span>
                <span class="swatch"></span>
                <span class="swatch"></span>
            </div>
          </div>
          <h2 class="product__title">Huawei</h2>
        </div>

        <div class="product__short-info">
          <p>Plus unlimited music streaming, with the Samsung Galaxy S8 and S8 Plus. Selected tariffs.</p>
        </div>

        <div class="product__price-info">
          Chỉ từ
          <div class="product__price">₫300,000</div>
        </div>
      </a>
      <div class="product__action-links">
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
  <div class="grid__item">
    <div class="product product--teaser">
      <a href="#">
        <div class="product__status">
          <span>NEW</span>
        </div>
        <div class="product__content-top">
          <img src="https://staticshop.o2.co.uk/product/images/huawei_p10_graphite_black_list_standard.png?cb=abe81379c440316230dcf7d897412b7f">
          <div class="product__rating">
            <div class="star-rating" >★★★★★
              <div class="star-rating__stars">★★★★★</div>
            </div>
            <div class="product__color">
                <span class="swatch"></span>
                <span class="swatch"></span>
                <span class="swatch"></span>
            </div>
          </div>
          <h2 class="product__title">Huawei</h2>
        </div>

        <div class="product__short-info">
          <p>Plus unlimited music streaming, with the Samsung Galaxy S8 and S8 Plus. Selected tariffs.</p>
        </div>

        <div class="product__price-info">
          Chỉ từ
          <div class="product__price">₫300,000</div>
        </div>
      </a>
      <div class="product__action-links">
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
</div>
