<div class="product product--full">
  <div class="product__content-top">
    <div class="product__images">
      <div class="product__images__avatar">
        <img class="device-image" data-qa-media-device-image="" src="https://staticshop.o2.co.uk/product/images/apple-iphone-7-red_sku-header.png?cb=e500038319115721d1042860aa07d140" ng-src="https://staticshop.o2.co.uk/product/images/apple-iphone-7-red_sku-header.png?cb=e500038319115721d1042860aa07d140" ng-attr-title="{{device.brand.text}} {{device.family.text}}" title="Apple iPhone 7">
        <a href="#">Gallary</a>
      </div>
    </div>
    <div class="product__short-info">
      <h1>Apple iPhone 7</h1>
      <p>An entirely new camera system. The brightest, most colourful iPhone display ever. The fastest performance and best battery life in an iPhone. Water and splash resistant1. And stereo speakers. Every bit as powerful as it looks - this is iPhone 7.</p>
      <div class="product__price-info">
        Price
        <div class="product__price">300,000đ</div>
      </div>
    </div>
    <div class="ping">Now in PRODUCT(RED).</div>
    <div class="product__variations">
      <form class="form--product-attributes">
        <ul class="product__atributes-colors">
          <li style="background-color: RGB(73,134,231); width: 10px; height: 10px;"></li>
          <li style="background-color: RGB(73,134,231); width: 10px; height: 10px;"></li>
          <li style="background-color: RGB(73,134,231); width: 10px; height: 10px;"></li>
          <li style="background-color: RGB(73,134,231); width: 10px; height: 10px;"></li>
          <li style="background-color: RGB(73,134,231); width: 10px; height: 10px;"></li>
          <li style="background-color: RGB(73,134,231); width: 10px; height: 10px;"></li>
        </ul>
        <div class="product__attributes-memory">
          <select>
            <option value="4" selected="selected">16G</option>
            <option value="5">32G</option>
          </select>
        </div>
      </form>
    </div>
    <div class="product__avaiable">
      <p>In Stock Order by midnight for free next working day delivery</p>
    </div>
    <ul class="spec-items">
      <li>Order now and collect in store. Or get free home delivery.</li>
      <li>Get cash for your old device. Find out more about O2 Recycle.</li>
      <li>Already an O2 customer? Sign in to upgrade.</li>
      <li>Get the iPhone 7 on our business tariffs</li>
    </ul>
    <ul class="info-links-list">
      <li><a href="#">Overview</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">Technical specification</a></li>
      <li><a href="#">Why O2?</a></li>
      <li><a href="#">O2 Recycle</a></li>
      <li><a href="#">Related products</a></li>
    </ul>
  </div>
</div>
