
<div class="paragraph paragraph--promote size-small">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Title abc123</div>
    <div class="paragraph__content">
			<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
				<a class="promote__link" href="#">
					<div class="promote__content">
						<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
						<p class="promote__text">Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p>
						<p class="promote__cta btn--cta">More about it</p>
					</div>
				</a>
			</div>
    </div>
  </div>
</div>

<div class="paragraph paragraph--promote size-lager">
  <div class="content-inner">
    <div class="paragraph__title">Paragraph Title abc123</div>
    <div class="paragraph__content">
			<div class="promote__item" style="background-image:url('https://unsplash.it/1202/500/?random')">
				<a class="promote__link" href="#">
					<div class="promote__content">
						<h3 class="promote__heading">Save £20 on the Fitbit Alta</h3>
						<p class="promote__text">Already on O2? Get £20 off the Fitbit Alta, when you buy it through Priority. Ends 29 March.</p>
						<p class="promote__cta btn--cta">More about it</p>
					</div>
				</a>
			</div>
    </div>
  </div>
</div>
